# dependencies
node_modules
node_modules/
.yarn/
!.yarn/releases

# build
dist
dist-ssr
.output
.nitro
.vinxi
reports/
src/generated
.tanstack
.turbo
.wrangler
__unconfig*

# env
.env
.env.production
*.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE / editor
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# misc
.DS_Store
todos.json
